<a href="https://colab.research.google.com/github/nehashukla91/-Python---Data-Structure/blob/main/Copy_of_Assignments_Data_Structures_in_Python(Q35).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignments: Data Structures in Python**

**Q1- Write a code to reverse a string.**

In [ ]:
strings = "Adnan","Qazi","student","pwskills"
reversed_strings = tuple(s[::-1] for s in strings)
print(reversed_strings)

('nandA', 'izaQ', 'tneduts', 'sllikswp')

**Q2- Write a code to count the number of vowels in a string.**

In [ ]:
string = "Lucknow and Delhi"
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

5

**Q3- Write a code to check if a given string is a palindrome or not.**

In [ ]:
import re

def is_palindrome(s):
    # Remove non-alphanumeric characters and convert to lowercase
    cleaned_str = re.sub(r'[^a-zA-Z0-9]', '', s).lower()

    # Check if the cleaned string reads the same forwards and backwards
    return cleaned_str == cleaned_str[::-1]

# Example usage
input_string = "A man, a plan, a canal, Panama!"
if is_palindrome(input_string):
    print(f'"{input_string}" is a palindrome.')
else:
    print(f'"{input_string}" is not a palindrome.')

"A man, a plan, a canal, Panama!" is a palindrome.

 **Q4- Write a code to check if two given strings are anagrams of each other.**

In [ ]:
def are_anagrams(str1, str2):
    # Remove any whitespace and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example usage
string1 = "Listen"
string2 = "Silent"
print(are_anagrams(string1, string2))

True

**Q5- Write a code to find all occurrences of a given substring within another string.**

In [ ]:
def find_all_occurrences(main_string, substring):
    occurrences = []
    start = 0

    while True:
        start = main_string.find(substring, start)
        if start == -1:
            break
        occurrences.append(start)
        start += 1  # Move to the next character after the found occurrence

    return occurrences

# Example usage
main_string = "This is a test string. This is another test."
substring = "test"
result = find_all_occurrences(main_string, substring)
print(result)

[10, 39]

**Q6- Write a code to perform basic string compression using the counts of repeated characters.**

In [ ]:
def compress_string(input_string):
    if not input_string:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(input_string)):
        if input_string[i] == input_string[i - 1]:
            count += 1
        else:
            compressed.append(input_string[i - 1] + str(count))
            count = 1

    # Add the last character and its count
    compressed.append(input_string[-1] + str(count))

    # Join the compressed parts and return
    compressed_string = ''.join(compressed)

    # Return the original string if compression doesn't make it shorter
    return compressed_string if len(compressed_string) < len(input_string) else input_string

# Example usage
input_str = "aaabbcdddde"
compressed_str = compress_string(input_str)
print(compressed_str)

a3b2c1d4e1

**Q7- Write a code to determine if a string has all unique characters.**

In [ ]:
def has_unique_characters(input_string):
    # Use a set to track seen characters
    seen_characters = set()

    for char in input_string:
        if char in seen_characters:
            return False  # Character is repeated
        seen_characters.add(char)

    return True  # All characters are unique

# Example usage
input_str = "abcdefg"
print(has_unique_characters(input_str))

input_str2 = "hello"
print(has_unique_characters(input_str2))

True
False

**Q8- Write a code to convert a given string to uppercase or lowercase.**

In [ ]:
def convert_case(input_string, to_upper=True):
    if to_upper:
        return input_string.upper()
    else:
        return input_string.lower()

# Example usage
input_str = "Hello, World!"

# Convert to uppercase
upper_str = convert_case(input_str, to_upper=True)
print(upper_str)

# Convert to lowercase
lower_str = convert_case(input_str, to_upper=False)
print(lower_str)

HELLO, WORLD!
hello, world!

**Q9- Write a code to count the number of words in a string.**

In [ ]:
def count_words(input_string):
    # Split the string by whitespace and filter out empty strings
    words = input_string.split()
    return len(words)

# Example usage
input_str = "This is an example string with seven words."
word_count = count_words(input_str)
print(word_count)

8

**Q10- Write a code to concatenate two strings without using the + operator.**

In [ ]:
def concatenate_strings(str1, str2):
    # Use join method to concatenate strings
    return ''.join([str1, str2])

# Example usage
string1 = "Hello, "
string2 = "World!"
result = concatenate_strings(string1, string2)
print(result)

Hello, World!

**Q11- Write a code to remove all occurrences of a specific element from a list.**

In [ ]:
def remove_occurrences(lst, element):
    # Use a list comprehension to create a new list without the specified element
    return [item for item in lst if item != element]

# Example usage
my_list = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
result = remove_occurrences(my_list, element_to_remove)
print(result)

[1, 3, 4, 5]

**Q12- Implement a code to find the second largest number in a given list of integers.**

In [ ]:
def second_largest(numbers):
    if len(numbers) < 2:
        return None  # Not enough elements for a second largest

    first, second = float('-inf'), float('-inf')

    for number in numbers:
        if number > first:
            second = first
            first = number
        elif first > number > second:
            second = number

    return second if second != float('-inf') else None

# Example usage
my_list = [5, 3, 9, 1, 7]
result = second_largest(my_list)
print(result)

7

**Q13- Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values.**

In [ ]:
def count_occurrences(lst):
    counts = {}

    for element in lst:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1

    return counts

# Example usage
my_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'banana']
result = count_occurrences(my_list)
print(result)

{'apple': 2, 'banana': 3, 'orange': 1}

**Q14- Write a code to reverse a list in-place without using any built-in reverse functions.**

In [ ]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1

    while left < right:
        # Swap elements
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

# Example usage
my_list = [1, 2, 3, 4, 5]
reverse_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

**Q15- Implement a code to find and remove duplicates from a list while preserving the original order of elements.**

In [ ]:
def remove_duplicates(lst):
    seen = set()
    result = []

    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)

    return result

# Example usage
my_list = [1, 2, 3, 2, 4, 3, 5]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5]

**Q16- Create a code to check if a given list is sorted (either in ascending or descending order) or not.**

In [ ]:
def is_sorted(lst):
    if len(lst) < 2:
        return True  # A list with 0 or 1 element is considered sorted

    ascending = all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))
    descending = all(lst[i] >= lst[i + 1] for i in range(len(lst) - 1))

    return ascending or descending

# Example usage
my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))

my_list = [5, 4, 3, 2, 1]
print(is_sorted(my_list))

my_list = [1, 3, 2, 4]
print(is_sorted(my_list))

True
True
False

**Q17- Write a code to merge two sorted lists into a single sorted list.**

In [ ]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Loop until we reach the end of either list
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Append any remaining elements from list1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # Append any remaining elements from list2
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

# Example usage:
list1 = [1, 3, 5]
list2 = [2, 4, 6]
merged = merge_sorted_lists(list1, list2)
print(merged)

[1, 2, 3, 4, 5, 6]

**Q18- Implement a code to find the intersection of two given lists.**

In [ ]:
def intersection(list1, list2):
    return list(set(list1) & set(list2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = intersection(list1, list2)
print(result)

[4, 5]

**Q19- Create a code to find the union of two lists without duplicates.**

In [ ]:
def union(list1, list2):
    return list(set(list1) | set(list2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = union(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

**Q20- Write a code to shuffle a given list randomly without using any built-in shuffle functions.**

In [ ]:
import random

def shuffle_list(lst):
    # Traverse the list in reverse order
    for i in range(len(lst) - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)
        # Swap elements at index i and j
        lst[i], lst[j] = lst[j], lst[i]
    return lst

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list.copy())  # Use copy to preserve the original list
print(shuffled_list)

[2, 4, 1, 5, 3]

**Q21- Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.**

In [ ]:
def common_elements(tuple1, tuple2):
    # Convert tuples to sets and find the intersection
    common_set = set(tuple1) & set(tuple2)
    # Convert the result back to a tuple and return
    return tuple(common_set)

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

**Q22- Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.**

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of integers
    user_input = input(prompt)
    return set(int(num.strip()) for num in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of integers (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of integers (separated by commas): ")

    # Calculate the intersection
    intersection = set1 & set2

    # Print the result
    print("The intersection of the two sets is:", intersection)

if __name__ == "__main__":
    main()

Enter the first set of integers (separated by commas): 3 , 4
Enter the second set of integers (separated by commas): 1, 2, 3, 4
The intersection of the two sets is: {3, 4}

**Q23- Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.**

In [ ]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples and return the result
    return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print(result)

(1, 2, 3, 4, 5, 6)

**Q24-  Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.**

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of strings
    user_input = input(prompt)
    return set(s.strip() for s in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

    # Find elements in set1 that are not in set2
    difference = set1 - set2

    # Print the result
    print("Elements in the first set but not in the second set:", difference)

if __name__ == "__main__":
    main()

Enter the first set of strings (separated by commas): apple, banana, cherry
Enter the second set of strings (separated by commas): banana, date
Elements in the first set but not in the second set: {'apple', 'cherry'}

**Q25-  Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.**

In [ ]:
def extract_range_from_tuple(original_tuple, start_index, end_index):
    # Return a new tuple containing elements from the original tuple
    return original_tuple[start_index:end_index]

# Example usage:
my_tuple = (10, 20, 30, 40, 50, 60, 70)
start = 2
end = 5
result = extract_range_from_tuple(my_tuple, start, end)
print(result)

(30, 40, 50)

**Q26- Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.**

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of characters
    user_input = input(prompt)
    return set(char.strip() for char in user_input)

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of characters (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of characters (separated by commas): ")

    # Calculate the union of the two sets
    union_set = set1 | set2

    # Print the result
    print("The union of the two sets is:", union_set)

if __name__ == "__main__":
    main()

Enter the first set of characters (separated by commas): a, b, c
Enter the second set of characters (separated by commas): c, d, e
The union of the two sets is: {'', 'e', ',', 'c', 'a', 'b', 'd'}

**Q27-  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.**

In [ ]:
def min_max_from_tuple(int_tuple):
    # Calculate the maximum and minimum values
    max_value = max(int_tuple)
    min_value = min(int_tuple)
    return max_value, min_value  # Return as a tuple

# Example usage:
my_tuple = (5, 3, 9, 1, 7)
max_value, min_value = min_max_from_tuple(my_tuple)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

**Q28- Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.**

In [ ]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate union, intersection, and difference
union_set = set1 | set2
intersection_set = set1 & set2
difference_set = set1 - set2

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)              # Elements in either set
print("Intersection:", intersection_set)  # Elements in both sets
print("Difference (Set 1 - Set 2):", difference_set)  # Elements in Set 1 not in Set 2

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (Set 1 - Set 2): {1, 2, 3}

**Q29- Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.**

In [ ]:
def count_occurrences(input_tuple, element):
    # Return the count of occurrences of the element in the tuple
    return input_tuple.count(element)

# Example usage:
my_tuple = (1, 2, 3, 4, 5, 3, 2, 3)
element_to_count = 3
count = count_occurrences(my_tuple, element_to_count)
print(f"The element {element_to_count} occurs {count} times in the tuple.")

The element 3 occurs 3 times in the tuple.

**Q30- Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.**

In [ ]:
def get_set_from_input(prompt):
    # Prompt the user for input and convert the input to a set of strings
    user_input = input(prompt)
    return set(s.strip() for s in user_input.split(','))

def main():
    # Get two sets from the user
    set1 = get_set_from_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_from_input("Enter the second set of strings (separated by commas): ")

    # Calculate the symmetric difference of the two sets
    symmetric_difference = set1 ^ set2

    # Print the result
    print("The symmetric difference of the two sets is:", symmetric_difference)

if __name__ == "__main__":
    main()

Enter the first set of strings (separated by commas): apple, banana, cherry
Enter the second set of strings (separated by commas): banana, date
The symmetric difference of the two sets is: {'apple', 'date', 'cherry'}

**Q31- Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.**

In [ ]:
def word_frequencies(words):
    frequency_dict = {}
    for word in words:
        # Increment the count for the word in the dictionary
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# Example usage:
input_words = input("Enter a list of words separated by spaces: ").split()
result = word_frequencies(input_words)
print("Word Frequencies:", result)

Enter a list of words separated by spaces: apple banana apple cherry banana apple
Word Frequencies: {'apple': 3, 'banana': 2, 'cherry': 1}

**Q32- Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.**

In [ ]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Create a copy of the first dictionary
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs
    return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

result = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 1, 'b': 5, 'c': 7, 'd': 5}

**Q33- Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None.**

In [ ]:
def access_nested_value(nested_dict, keys):
    current = nested_dict
    for key in keys:
        if key in current:
            current = current[key]  # Move deeper into the nested dictionary
        else:
            return None  # Return None if the key doesn't exist
    return current  # Return the final value if all keys are found

# Example usage:
nested_dict = {
    'a': {
        'b': {
            'c': 1
        },
        'd': 2
    },
    'e': 3
}

keys_to_access = ['a', 'b', 'c']
result = access_nested_value(nested_dict, keys_to_access)
print("Accessed Value:", result)  # Output: Accessed Value: 1

# Testing with a non-existent key
keys_to_access_invalid = ['a', 'b', 'x']
result_invalid = access_nested_value(nested_dict, keys_to_access_invalid)
print("Accessed Value:", result_invalid)

Accessed Value: 1
Accessed Value: None

**Q34-  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order.**

In [ ]:
def sort_dict_by_values(input_dict, descending=False):
    # Sort the dictionary by values and return as a new dictionary
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

# Example usage:
my_dict = {'a': 3, 'b': 1, 'c': 2}

# Sort in ascending order
sorted_ascending = sort_dict_by_values(my_dict)
print("Sorted in Ascending Order:", sorted_ascending)

# Sort in descending order
sorted_descending = sort_dict_by_values(my_dict, descending=True)
print("Sorted in Descending Order:", sorted_descending)

Sorted in Ascending Order: {'b': 1, 'c': 2, 'a': 3}
Sorted in Descending Order: {'a': 3, 'c': 2, 'b': 1}

**Q35- Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.**

In [ ]:
def invert_dictionary(original_dict):
    inverted_dict = {}
    for key, value in original_dict.items():
        if value in inverted_dict:
            # If the value is already a key, append the current key to the list
            inverted_dict[value].append(key)
        else:
            # Otherwise, create a new entry with the current key as a list
            inverted_dict[value] = [key]
    return inverted_dict

# Example usage:
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}

inverted = invert_dictionary(my_dict)
print("Inverted Dictionary:", inverted)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}